/* Navigation section  */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    padding: 0px 7px;
    font-size: 1rem;
    padding-bottom: 8px;
}
/* Home section  */
#home{
    height: 414px;
    padding: 8px 34px;
    
}
#home::before{
    height: 467px;
    
}

#home p{
    font-size: 13px;
}
/* sevices section  */
#services{
    flex-direction: column;

}

#services .box{

    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;
}
/* client section  */


#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/* contact section  */
#contact-box form{
    
    width: 80%;
}
/* footer section  */

/* utility classes  */

.h-primary{
    font-size: 27px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}